{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>El Tonio #swag Blog</title>

	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>
	<img id="portrait-image" src="{% static 'blog/images/el tonio.jpg' %}" width="30%"/>

	<div id="page">
		<header>
			<nav id="navbar">
				<a class="nav link" href="{% url 'index' %}">Home</a>
				<a class="nav link" href="{% url 'about' %}">About</a>
			</nav>
		</header>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

		<footer>
			<div id="footer-copyright">
				<small>&copy; El Tonio</small>
			</div>
		</footer>
	</div>
</body>
</html>